/*** root */
:root {
  /* colors palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --primary-btn: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #e7e737;
}

/*** reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** general */

.container {
  padding: 1rem;
}

.card {
  border-radius: 30px;
}

/* flex */

.row {
  display: flex;
  flex-wrap: wrap;
}

/* width */

.col {
  padding: 1rem;
  width: 100%;
}

/* ** header */

/*** nav-bar */

#nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background-color: var(--lighter-blue);
  color: var(--white);
}

#nav-bar .row {
  justify-content: space-between;
}

#nav-bar .col {
  width: auto;
}

/* ** main */

/*** intro */

#intro {
  margin-top: 80px;
}

#intro .row {
  margin: auto -1rem;
}

#intro .card {
  background-color: var(--light-blue);
}

#intro .main.card {
}

#intro .col {
  width: 100%;
}

/*** plan */

#plan {
  background-color: var(--aubergine);
  color: var(--white);
}

#plan .col {
  margin: 0.5rem 0;
}

#plan .card {
  background-color: var(--white);
  color: var(--black);
}

/*** testimonials  */

#testimonials .col {
  margin: 0.5rem 0;
}

/*** benefit  */

#benefit {
  background-color: var(--lighter-blue);
  color: var(--white);
}

/*** about us  */

/*** get started  */

#get-started {
  background-color: var(--lighter-blue);
}

/* ** footer  */

/*** footer section  */

#footer {
  background-color: var(--black);
}

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}

/* border */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-light {
  border: 2px dashed var(--light-blue);
}

/* background */

.debug .bg-white {
  background-color: var(--white);
}
.debug .bg-black {
  background-color: var(--black);
}
.debug .bg-red {
  background-color: var(--red);
}
.debug .bg-green {
  background-color: var(--green);
}
.debug .bg-gray {
  background-color: var(--gray);
}
.debug .bg-purple {
  background-color: var(--purple);
}
.debug .bg-pink {
  background-color: var(--pink);
}
.debug .bg-brown {
  background-color: var(--brown);
}

/*** Breakpoints
mobile < 576px
tablet: >= 576px
desktop: >= 992px
large desktop: >= 1200px
*/
