/*** root */
:root {
  /* colors palette */
  --white: #ffffff;
  --black: #080808;
  --red: #ff0000;
  --green: #008000;
  --gray: #808080;
  --light-gray: #d6d6d6;
  --purple: #800080;
  --pink: #ffc0cb;
  --brown: #a52a2a;
  --light-blue: #b4d0e7;
  --blue: #2e2ec1;
  --primary-btn: #52a6e7;
  --pastel-green: #a2d39b;
  --pastel-green-secondary: #c7f6c1;
  --aubergine: #61082b;
  --sky-blue: #0093ce;
  --bright-red: #ff1c1c;
  --darker-red: #c80606;
  --lighter-blue: #288ff6;
  --dark-blue: #1a1a8a;
  --yellow: #e7e737;
}

/*** reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** general */

/* containers */

.container {
  padding: 0 1rem;
  margin: auto;
}

.small-container {
  padding: 0.2rem;
  margin: auto;
}

/* font */

* {
  font-family: "Noto Sans", sans-serif;
}

/* buttons */

.btn {
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-size: 1rem;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

/* img */

img {
  width: 100%;
}

/* cards */

.card {
  border-radius: 30px;
  padding: 1rem;
}

/* hidden */

.hidden {
  display: none;
}

/* flex */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* width */

.col {
  padding: 1rem;
  width: 100%;
}

/* *** mobile  */

/* ** header */

/*** nav-bar */

#nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: var(--lighter-blue);
  color: var(--white);
}

#nav-bar .row {
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#nav-bar .col {
  width: auto;
}

#nav-bar .col:last-child {
  line-height: 50px;
}

#nav-bar ul {
  list-style: none;
}

#nav-bar li {
  font-size: 1rem;
  float: left;
  margin-left: 0.8rem;
}

#nav-bar i {
  font-size: 2rem;
}

/* ** main */

/*** intro */

#intro {
  margin-top: 100px;
}

#intro .row {
  margin: auto -1rem;
}

#intro .col {
  width: 100%;
  display: flex;
}

#intro .card {
  background-color: var(--light-blue);
  text-align: center;
}

/* intro main card */

#intro .main.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro .card-text {
  padding: 1rem;
}

#intro .card-img {
  padding: 1rem;
  width: 300px;
}

#intro .card-img > img {
  margin-bottom: -40px;
}

/* intro cards */

#intro .btn i {
  margin-right: 0.5rem;
}

#intro .card > i {
  color: var(--blue);
  font-size: 5rem;
  margin-bottom: 1rem;
}

#intro h2 {
  color: var(--blue);
  margin-bottom: 1rem;
}

#intro p {
  margin-bottom: 1rem;
}

/*** plan */

#plan {
  background-color: var(--aubergine);
  color: var(--white);
}

#plan .col {
  margin: 0.5rem 0;
}

#plan .card {
  background-color: var(--white);
  color: var(--black);
}

/*** testimonials  */

#testimonials .row {
  margin: auto -1rem;
}

#testimonials .col {
  margin: 0.5rem 0;
}

#testimonials .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#testimonials .card-text {
  width: 100%;
}

#testimonials .card-img {
  width: 300px;
  aspect-ratio: 1 / 1;
  margin: auto;
}
/*** benefit  */

#benefit {
  background-color: var(--lighter-blue);
  color: var(--white);
}

/*** about us  */

/*** get started  */

#get-started {
  background-color: var(--lighter-blue);
}

/* ** footer  */

/*** footer section  */

#footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

/* ** responsive */

/*** tablet >= 576px */

@media screen and (min-width: 576px) {
  /* general */

  .small-container {
    max-width: 600px;
  }

  /* intro  */
  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .main.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  /* testimonials  */

  #testimonials .card-text {
    width: calc(100% - 300px);
  }

  /* benefit */

  #benefit .col {
    width: calc(100% / 2);
  }

  /* about us */

  #about-us .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #about-us .col:last-child {
    width: calc(100% / 3);
  }

  /* get started */

  #get-started .container {
    max-width: 800px;
  }
}

/*** desktop >= 992px */

@media screen and (min-width: 992px) {
  /* general  */

  .container {
    max-width: 1000px;
  }

  .hidden {
    display: contents;
  }

  .menu {
    display: none;
  }

  /* intro  */

  #intro .main.card {
    flex-direction: row;
  }

  #intro .card-text,
  .card-img {
    width: calc(100% / 2);
  }

  #intro .card-img {
    align-self: flex-end;
  }

  /* plan  */

  #plan .row {
    gap: 0.5rem;
    align-items: flex-end;
  }

  #plan .col {
    width: calc(100% / 2 - 1rem);
    margin: 0;
  }

  #plan .col:last-child {
  }

  /* benefit */

  #benefit .col {
    width: calc(100% / 3);
  }
}

/*** big desktop >= 1200px */

@media screen and (min-width: 1200px) {
}

/* ** debug */

/* height */

.debug .smaller {
  height: 50px;
}

.debug .small {
  height: 80px;
}

.debug .tall {
  height: 300px;
}

.debug .taller {
  height: 500px;
}

/* border */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-light {
  border: 2px dashed var(--light-blue);
}

/* background */

.debug .bg-white {
  background-color: var(--white);
}
.debug .bg-black {
  background-color: var(--black);
}
.debug .bg-red {
  background-color: var(--red);
}
.debug .bg-green {
  background-color: var(--green);
}
.debug .bg-gray {
  background-color: var(--gray);
}
.debug .bg-purple {
  background-color: var(--purple);
}
.debug .bg-pink {
  background-color: var(--pink);
}
.debug .bg-brown {
  background-color: var(--brown);
}

/*** Breakpoints
mobile < 576px
tablet: >= 576px
desktop: >= 992px
large desktop: >= 1200px
*/
